@charset "utf-8";
/* CSS Document */


html{
background-color: #333;	
font-family: 'Righteous', cursive;
width:30em;
margin:0 auto;
}
dt, label{
color: #F90;	
}
dd{
	color: #ccc;
	margin-left:1em;
}
a{
	color: #F60;
}
h1{
color: #F00;	
}
dl, fieldset{
border: 5px double #F90;
    border-radius: 2em 1em 5em 1em;	
	padding:1em;
}
input{
clean:both;	
width:27em;
margin-left:2em;
}
label{
display:block;
margin-left:1em;
}
.save{
margin: 0.5em 0 -1em 3em;	
}