@charset "utf-8";
/* CSS Document */

html{
font: normal 125%/1.25 sans-serif;
background-color: #666;	
color: #6CF;
}

form{
margin: 20em;
height:7.5em;
border: 5px groove #6CF;
width: 16em;	
padding:1em;
}
label{
	margin:0.25em;
	
}
input{
margin: 0.5em;	
	
}
#num1, 
#func {
margin-left:1em;	
}
#submit, 
#func {
	
background-color: #6CF;
margin-left:2em;
margin-bottom:0.25em;
}
strong{
	top:1em;
	margin-left:10em;
	border-bottom: 2px solid #FC6;
}

#func{
margin-left:3.5em;
	margin-right:0;
}
#submit{
	width:6em;
	
}
