body {
	font: normal 120%/1.5 sans-serif;
	background-color: #D1D1D1;
}

#circle {
	height: 250px;
	left: 50%;
	margin: -80px 0 0 -135px;
	position: absolute;
	top: 25%;
	width: 250px;
	color: #633;
	background-color: #F93;
	border: 12px double #633;
	border-radius: 150px;
	font-size: 10em;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	line-height: 225px;
	text-align: center;
	vertical-align: central;
}
form{
background-color: #633;
width:31em;
margin: 1em auto;
padding: 1em;	
color: #F93;
border: 8px double #F93;
}
button{
background-color: #F93;	
}
option, 
#property,
#color{

background-color:  #F93;
color: #633;
}